__pycache__
rs/target
ncu
target
.venv
*.egg-info/

# test assets
py/rfdetr/*.jpg
py/rfdetr/output
py/rfdetr/export
py/rfdetr/eval_output
*.pth
*.safetensors
*.onnx
/datasets
rs/eval_output
eval_output

prompts.md
